<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.50.1.392" targetFramework="net40" />
  <package id="NLog" version="4.0.1" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net40" />
  <package id="Topshelf" version="3.2.0" targetFramework="net40" />
  <package id="Topshelf.NLog" version="3.2.0" targetFramework="net40" />
</packages>