<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/CreateRequestService_${date:format=yyyy-MM-dd}.log"
    layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|${message} ${exception:format=ToString,StackTrace}${newline}"
            maxArchiveFiles="2"
            enableFileDelete="true"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            archiveFileName="logs/SimStateService_${date:format=yyyy-MM-dd}-{##}.log"
            />
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${callsite:className=true:fileName=false:includeSourcePath=true:methodName=true}|${level}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,console" />
  </rules>
</nlog>